@{
    ViewData["Title"] = "Podcast Link";
}
<h1>Give hi-five Ghost a hi-five to unlock my podcast landing page!</h1>

<div style="text-align: center;">
    <a href="https://baconsale.com/">
        <img src="~/img/the-regular.gif" height="500" />
    </a>
</div>

